.admin-tool {
  margin-right: 5px;
  font-size: 0.9em;
  padding-top: 5px;
  position: relative;
  a {
    margin-right: 5px;
  }

  .edit-recipe-icon {
    color: green;
  }
  .delete-recipe-icon {
    color: firebrick;
  }

  .confirm-delete {
    position: absolute;
    z-index: 100;
    width: 300px;
    left: -260px;
    border: 1px solid $main-color;

    @include border-radius(5px);

    button {
      background-color: $btn-back-color;
      border-color: rgba(178, 34, 34, 0.33);
      @include border-radius(5px);
    }

    button:hover {
      //@include box-shadow-insert(0, 0, 20px, 0px, #ba7a5a);
      //@include box-shadow-insert(0, 0, 10px, 2px, rgba(255, 166, 0, 0.70)) ;
      box-shadow: inset 0 1px 1px rgba(178, 34, 34, 0.63), 0 0 8px rgba(178, 34, 34, 0.63);
      border-color: rgba(255, 166, 0, 0.70);
    }
  }
}