<span class="admin-tool">
  <!--a href='/newrecipe?type=edit&id={{ id }}' title="Edit recipe" ng-click="editRecipe()"><span class="glyphicon glyphicon-edit edit-recipe-icon"></span></a-->
  <a href='' ng-click="newRecipe('edit', rid)" title="{{ glossary.editrecipe }}" >
    <span class="glyphicon glyphicon-edit edit-recipe-icon"></span>
  </a>

  <a href='' title="{{ glossary.deleterecipe }}" ng-click="comfirmDelete = true">
    <span class="glyphicon glyphicon-trash delete-recipe-icon"></span>
  </a>

  <div class="alert alert-warning confirm-delete" role="alert" ng-show="comfirmDelete == true">
    <div>{{ glossary.confirmdelete }} </div>
    <br/>
    <button class="btn btn-sm" ng-click="deleteRecipe()">
      {{ glossary.deleterecipe }}
    </button>
    <button class="btn active btn-sm" ng-click="comfirmDelete = false">
      {{ glossary.cancel }}
    </button>
  </div>

</span>

