#myfridge-background {
  background-image: url('../../assets/images/004.jpg');
  background-repeat: no-repeat;
  background-size: 100% 100%;
  background-position: center center;
  opacity: 0.9;
  position: relative;
  width:100%;
  height: 100%;
  left: 0;
  top: 0;
  z-index: 0;
}
#myfridge-content {
  position: relative;
}

#ask-fridge {
  text-align: center;
  position: relative;
  z-index: 100;
  min-height: 600px;

  #ask-fridge-prompt {
    font-size: 120%;
    font-weight: bold;
    margin-bottom: 20px;
  }

  #products-input {
    width: 90%;
    height: 35px;
    border: 1px solid;
    text-indent: 10px;
    border-color: inherit;

    @include border-radius(4px);
  }
  #products-input:focus{
    box-shadow: inset 0 1px 1px rgba(178, 34, 34, 0.63), 0 0 8px rgba(178, 34, 34, 0.63);
    border-color: rgba(255, 166, 0, 0.70);
    outline: none;
  }

  #ask-fridge-btn {
    background-color: $btn-back-color;
  }
  #ask-fridge-btn:hover {
    //@include box-shadow-insert(0, 0, 20px, 0px, #ba7a5a);
    //@include box-shadow-insert(0, 0, 10px, 2px, rgba(255, 166, 0, 0.70)) ;
    box-shadow: inset 0 1px 1px rgba(178, 34, 34, 0.63), 0 0 8px rgba(178, 34, 34, 0.63);
    border-color: rgba(255, 166, 0, 0.70);
  }
}

.fridge-img {
  width: 80%;
  height: auto;
  margin: 20px auto;

  //visibility: hidden;

  img {
    width: 100%;
    margin: 0px auto;
  }
}