<login-dialog></login-dialog>
<logout-dialog></logout-dialog>
<signup-dialog></signup-dialog>

<div class="navbar navbar-default navbar-static-top" id="navbar-wrapper" ng-controller="NavbarCtrl">
  <div class="container">
    <div class="navbar-header">
      <button class="navbar-toggle" type="button" ng-click="isCollapsed = !isCollapsed">
        <span class="sr-only">Toggle navigation</span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
        <span class="icon-bar"></span>
      </button>
      <div class="row" >
        <div class="col-md-12">
          <a href="/" id="brand-name" class="navbar-brand">Easy Cooking</a>
          <span id="brand-subtitle"> <em>quick recipes for lazy people</em> </span>
        </div>
      </div>
    </div>

    <div collapse="isCollapsed" class="navbar-collapse collapse" id="navbar-main">
      <ul class="nav navbar-nav navbar-right">
        <li ng-hide="isLoggedIn()">
          <a class="font-04" href="#" ng-click="openSignupDlg()">Sign up</a>
        </li>
        <li ng-hide="isLoggedIn()"  class="most-right">
          <a class="font-04" href="#" ng-click="openLoginDlg()">Login</a>
        </li>

        <li class="most-right" ng-show="isLoggedIn()">
          <div class="dropdown">
            <!--button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu1" data-toggle="dropdown"
              !!! IMPORTANT: data-toggle="dropdown' removed (in the following code string) because of the conflict
              between bootstarap and ui-bootstrap (dropdown open only on second click) without the removed attr
                it works fine
            -->
            <button class="btn btn-link dropdown-toggle" type="button" id="dropdownMenu1">
              <span class="font-1"><strong>Hello {{ getCurrentUser().name }}</strong></span>
              <span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu" aria-labelledby="dropdownMenu1">
              <li ng-class="{active: isActive('/settings')}">
                <a class="font-1" href="/settings"><span class="glyphicon glyphicon-cog"></span></a>
              </li>
              <li ng-class="{active: isActive('/logout')}" >
                <a class="font-1" href="" ng-click="logout()">Logout</a>
              </li>
            </ul>
          </div>
        </li>
        <li>
          <span>
            <a href="">
              <img ng-src="../../assets/images/Israel-icon.png" title="Hebrew"/>
            </a>

            <a href="">
              <img ng-src="../../assets/images/Russia-icon.png" title="Russian"/>
            </a>

            <a href="">
              <img ng-src="../../assets/images/United-States-icon.png" title="English (USA)"/>
            </a>
          </span>
        </li>

        <li class="hidden-sm hidden-md hidden-lg">
          <a href="/newrecipe?type=user" class="send-recipe">
            <span class="font-04">Send your recipe</span>
          </a>
        </li>

        <li class="hidden-sm hidden-md hidden-lg">
          <search-box></search-box>
        </li>
      </ul>
    </div>

    <div class="row hidden-xs" id="navbar-sub">
        <div class="col-md-6 col-sm-6 col-xs-12">
        <a href="/newrecipe?type=user" class="send-recipe font-04" ng-show="!isAdmin()">
          <img ng-src="../../assets/images/mail_send_32x32.png" title="Send your recipe"/>
        </a>
        <a href="/newrecipe" class="send-recipe font-04" ng-show="isAdmin()">
          <img ng-src="../../assets/images/mail_send_32x32.png" title="New recipe"/>
        </a>
      </div>
      <div class="col-md-6 col-sm-6 col-xs-12">
        <search-box></search-box>
      </div>
    </div>
  </div>
</div>


