<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container main-panel">
  <!--bread-crumb bc="bc"></bread-crumb-->

  <div class="row">
    <div class="col-md-12">
      <div class="recipe-wrapper">

      <alert type="success" close="showSuccess=false" id="alert-success" ng-show="showSuccess" splash-panel>
        {{ glossary.recipeadded }}
      </alert>

      <div class="recipe-title">
          <span><strong>{{ action }} {{ glossary.recipe }}</strong></span>
        </div>
        <div class="recipe-body">
          <form class="form-horizontal" role="form" name="addrecipeform"
                id="add-recipe-form" novalidate>
            <fieldset>
              <legend>{{ glossary.grantor }}</legend>
              <div class="form-group">
                <label for="grantor-name" class="col-sm-2 control-label" required-fld>{{ glossary.name }}</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="grantor-name" placeholder="{{ glossary.fullname }}"
                         ng-model="newRecipe.grant.name">
                </div>
              </div>
              <!--div class="form-group">
                <label for="grantor-img" class="col-sm-2 control-label">Avatar</label>
                <div class="col-sm-10">
                  <input type="file" class="form-control" id="grantor-img" >
                </div>
              </div-->
            </fieldset>

            <fieldset>
              <legend>{{ glossary.recipe }}</legend>
              <div class="form-group">
                <label for="new-recipe-name" class="col-sm-2 control-label" required-fld>{{ glossary.recipename }}</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="new-recipe-name"
                         required ng-model="newRecipe.name">
                </div>
              </div>
              <div class="form-group">
                <label for="select-recipe-category" class="col-sm-2 control-label">{{ glossary.category }}</label>
                <div class="col-sm-10">
                  <select class="form-control" id="select-recipe-category" ng-model="newRecipe.category"
                          ng-options="cat.name for cat in categories">
                  </select>
                  <!--div>or type in categories (comma separated)</div>
                  <input type="text" class="form-control" id="new-recipe-category"
                          placeholder="E.g.: lamb, main dish, fish & see food"
                          ng-model="newRecipe.multiCategory"-->
                </div>
              </div>
              <div class="form-group">
                <label for="new-recipe-cousine" class="col-sm-2 control-label">{{ glossary.cousine }}</label>
                <div class="col-sm-10">
                  <input type="text" class="form-control" id="new-recipe-cousine"
                         ng-model="newRecipe.cousine">
                </div>
              </div>
              <div class="form-group">
                <label for="new-recipe-time" class="col-sm-2 control-label" required-fld>{{ glossary.cookingtime }}</label>
                <div class="col-sm-10">
                  <div class="input-group">
                    <input type="text" class="form-control" id="new-recipe-time" int-only
                           required ng-model="newRecipe.duration">
                    <div class="input-group-addon">{{ glossary.minutesshort }}.</div>
                  </div>
                </div>
              </div>
              <div class="form-group">
                <label for="new-recipe-description" class="col-sm-2 control-label" required-fld>{{ glossary.description }}</label>
                <div class="col-sm-10">
                  <textarea class="form-control" rows="3" id="new-recipe-description" required
                            ng-model="newRecipe.description" ng-change="descriptionLeftSymbols()">
                  </textarea>
                  <span class="left-symbols">{{ glossary.left }} <span >{{ leftSymbols.description }}</span> {{ glossary.symbols }}</span>
                </div>
              </div>
            </fieldset>

            <fieldset>
              <legend>{{ glossary.ingredients }}</legend>
              <table id="new-recipe-ingredients-tbl">
                <colgroup>
                  <col id="ingredient-column-1">
                  <col id="ingredient-column-2">
                  <col id="ingredient-column-3">
                  <col id="ingredient-column-4">
                </colgroup>
                <thead>
                  <tr>
                    <th required-fld>{{ glossary.nametitle }}</th>
                    <th required-fld>{{ glossary.quantity }}</th>
                    <th>Note</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="ing in newRecipe.ingredients track by $index">
                    <td>
                      <input type="text" class="form-control table-input" required
                             ng-model="newRecipe.ingredients[$index].name"/>
                    </td>
                    <td>
                      <input type="text" class="form-control table-input" required
                             ng-model="newRecipe.ingredients[$index].qtty"/>
                    </td>
                    <td>
                      <input type="text" class="form-control table-input"
                             ng-model="newRecipe.ingredients[$index].note"/>
                    </td>
                    <td class="remove-table-row">
                      <span class="glyphicon glyphicon-remove" title="Remove ingredient"
                              ng-click="removeIngredient($index)"></span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="add-table-row">
                <span class="glyphicon glyphicon-plus pull-right" title="Add ingredient"
                        ng-click="addIngredient()"></span>
              </div>
            </fieldset>

            <fieldset>
              <legend>{{ glossary.instructions }}</legend>
              <table id="new-recipe-instructions-tbl">
                <colgroup>
                  <col id="instructions-column-1">
                  <col id="instructions-column-2">
                  <col id="instructions-column-3">
                </colgroup>
                <thead>
                  <tr>
                    <th required-fld>{{ glossary.nametitle }}</th>
                    <th>{{ glossary.image }}</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="inst in newRecipe.instructions track by $index">
                    <td>
                      <textarea class="form-control table-input" rows="3" ng-change="instructionLeftSymbols($index)"
                                ng-model="newRecipe.instructions[$index].step">
                      </textarea>
                      <span class="left-symbols">&nbsp;{{ glossary.left }} <span >{{ leftSymbols.instruction[$index] }}</span> {{ glossary.symbols }}</span>
                    </td>
                    <td>
                      <span class="glyphicon glyphicon-asterisk last-instr-img pull-left" ng-show="$last"></span>
                      <div class="instruction-img-thumb" file-dropzone="[image/jpeg, image/png, image/gif]"
                           data-max-file-size="30" file="book"
                           id='$index' action="{{ action }}">

                        <!--img id='{{ $index }}e' ng-src="{{ inst.image }}" title="Drag and drop or click here"
                             ng-show="action === 'Edit'"/-->
                        <img id='{{ $index }}e' ng-src="{{ instrEditImage($index) }}" title="Drag and drop or click here"
                             ng-show="action === '{{ glossary.edit }}'"/>
                        <img id='{{ $index }}' ng-src="{{ inst.image }}" title="{{ glossary.dropimage }}"
                             ng-show="action !== '{{ glossary.edit }}'"/>

                        <input type="file" class="{{ $index }}" name="book" ng-show="false"
                               accept="image/jpeg, image/png, image/gif"/>
                      </div>
                    </td>
                    <td class="remove-table-row">
                      <span class="glyphicon glyphicon-remove" title="{{ glossary.removeinstruction }}"
                              ng-click="removeInstruction($index)"></span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="glyphicon glyphicon-asterisk last-instr-img">
                {{ glossay.mainimage }}
              </div>
              <div class="add-table-row">
                <span  class="glyphicon glyphicon-plus pull-right" title="{{ glossary.addinstruction }}"
                        ng-click="addInstruction()"></span>
              </div>
            </fieldset>

            <fieldset>
              <legend>{{ glossary.notes }}</legend>
              <table id="new-recipe-notes-tbl">
                <colgroup>
                  <col id="note-column-1">
                  <col id="note-column-2">
                </colgroup>
                <thead>
                  <tr>
                    <th>{{ glossary.note }}</th>
                    <th></th>
                  </tr>
                </thead>
                <tbody>
                  <tr ng-repeat="note in newRecipe.notes track by $index">
                    <td>
                      <textarea class="form-control table-input" rows="3" ng-model="newRecipe.notes[$index]"
                                ng-change="noteLeftSymbols($index)">
                      </textarea>
                      <span class="left-symbols">&nbsp;{{ glossary.left }} <span >{{ leftSymbols.notes[$index] }}</span> {{ glossary.symbols }}</span>
                    </td>
                    <td class="remove-table-row">
                      <span class="glyphicon glyphicon-remove" title="{{ glossary.removenote }}"
                              ng-click="removeNote($index)"></span>
                    </td>
                  </tr>
                </tbody>
              </table>
              <div class="add-table-row">
                <span class="glyphicon glyphicon-plus pull-right" title="{{ glossary.addnote }}"
                        ng-click="addNote()"></span>
              </div>
            </fieldset>

            <fieldset ng-show="action === {{ glossary.edit }}">
              <legend>{{ glossary.approveforview }}</legend>
              <div class="form-group">
                <label for="approved" class="col-sm-2 control-label">{{ glossary.approve }}</label>
                <div class="col-sm-10" style="margin-top: 5px;">
                  <input type="checkbox" id="approved" ng-model="newRecipe.approved"/>
                </div>
              </div>
            </fieldset>

            <br/>
            <fieldset>
              <legend></legend>
              <div class="form-group">
                <div class-row>
                  <div class="col-sm-8 col-xs-8" id="user-recipe-warning">
                    <span ng-show="action === {{ glossary.send }}" >
                      {{ glossary.bepatient }}.
                    </span>
                  </div>
                  <div class="col-sm-4 col-xs-4">
                    <button type="submit" class="btn btn-default pull-right" id="back-btn"
                            ng-click="back()">
                      Cancel
                    </button>
                    <button type="submit" class="btn pull-right" id="addrecipe-btn"
                            ng-click="addRecipe()"
                            ng-disabled="addrecipeform.$invalid || hasEmptyFields()">
                      {{ action }} recipe
                    </button>
                  </div>
                </div>
              </div>
            </fieldset>
          </form>
        </div>
      </div>
    </div>
  </div>
</div>
