<div class="modal fade" id="ecSignupModal" tabindex="-1" role="dialog" aria-labelledby="mySignupLabel" aria-hidden="true">
  <div class="modal-dialog modal-sm">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="mySignupLabel">Sign up</h4>
      </div>
      <div class="modal-body">
        <form role="form" id='signup-form' name='signupform' novalidate="novalidate">

          <div class="form-group" ng-class="{ 'has-error': signupform.name.$invalid && submitted }">
            <label for="name">Name</label>
            <input class='form-control' type='text'  name="name" required=""
                   id='name' autocomplete='off' ng-model="user.name"
                   mongoose-error/>

            <p class="help-block" ng-show="signupform.name.$error.required && submitted">
              Name required.
            </p>
            <p class="help-block" ng-show="signupform.name.$error.mongoose">
              {{ errors.name }}
            </p>
          </div>

          <div class="form-group" ng-class="{ 'has-error': signupform.email.$invalid && signupform.email.$dirty }">
            <label for="email">E-mail</label>
            <input class='form-control' type='email'  placeholder="E-mail" name="email" required=""
                   mongoose-error id='email' autocomplete='off' ng-model="user.email"/>

            <p class="help-block" ng-show="signupform.email.$error.required && submitted">
                Email required.
            </p>
            <p class="help-block" ng-show="signupform.email.$error.email ">
              This is not a valid email.
            </p>
            <p class="help-block" ng-show="signupform.email.$error.mongoose">
              {{ errors.email }}
            </p>
          </div>

          <div class="form-group" ng-class="{ 'has-error': signupform.password.$invalid && signupform.password.$dirty }">
            <label for="password">Password (min. {{ minPassLen }} symbols)</label>
            <input type="password" class="form-control" id="password" placeholder="Password"
                   autocomplete='off' ng-model="user.password" ng-required="true"
                   ng-minlength="minPassLen" name="password"/>

            <p class="help-block"
               ng-show="(signupform.$error.minlength && signupform.password.$dirty) ">
              Password must be at least {{ minPassLen }} characters.
            </p>
            <p class="help-block" ng-show="signupform.password.$error.mongoose">
              {{ errors.password }}
            </p>
          </div>

          <div class="form-group" ng-class="{ 'has-error': signupform.cpassword.$invalid && submitted }">
            <label for="confirm-password">Confirm Password</label>
            <input type="password" class="form-control" id="confirm-password" placeholder="Password"
                   autocomplete='off' ng-model="user.cpassword" required name="cpassword"/>

            <p class="help-block" ng-show="(signupform.cpassword.$invalid || !isPasswordMatch()) && submitted ">
              <span ng-show="signupform.password.$error.required">Confirm password.</span>
              <span ng-show="!isPasswordMatch()">Passwords do not match.</span>
            </p>
          </div>

          <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-sm" ng-click="signup(signupform)"
                    ng-disabled="signupform.$invalid || hasEmptyFields() || !isPasswordMatch()">Sign up</button>
            <button type="button" class="btn btn-default btn-sm" data-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>