$border-radius: 10px;
$go-recipe-color: #1027A8;

.recipe-wrapper {
  background-color: white;
  border: 2px solid $main-color;//#DDC3A1;
  padding: 10px;
  min-height: 300px;
  position: relative;

  @include border-radius($border-radius);

  .recipe-title {
    position: relative;
    top:-10px;
    min-height: 27px;
    margin-left: -10px;
    margin-right: -10px;
    text-align: center;
    font-size: larger;
    background-color: floralwhite;
    border-bottom: 1px solid $main-color;
    border-top-right-radius: $border-radius;
    -moz-border-radius-topright: $border-radius;
    -webkit-border-top-right-radius: $border-radius;
    border-top-left-radius: $border-radius;
    -moz-border-radius-topleft: $border-radius;
    -webkit-border-top-left-radius: $border-radius;
  }
  .go2recipes {
    margin-left: 10px;
    color: $go-recipe-color;//#db7600;
    font-size: 0.9em;
    margin-top: 4px;
  }
  .recipe-body{
    //font-size: 1em;
  }

  .recipe-body > .row{
    margin-right: 0px;
    margin-left: 0px;
    padding-top: 10px;
    padding-bottom: 10px;
  }
  .recipe-body > .row:nth-of-type(even){
    background-color: #f8f8f8;
  }
}

#recipe-ingredients-tbl {
  width: 100%;

  #ingredient-col-1 {
    width: 3%;
  }
  #ingredient-col-2 {
    width: 77%;
  }
  #ingredient-col-3 {
    width: 20%;
  }
}
.recipe-step-img {
  position: relative;
  display: block;
  width: 100%;
  max-width: 96px;
  height: auto;
  margin-left: auto;
  margin-right: auto;
  //outline-color:transparent;
  border: none;
  top: -30px;
 /*
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  -ms-transition: all .5s ease;
  -o-transition: all .5s ease;
  transition: all .5s ease; */
}
/*.recipe-step-img:hover {
  position: fixed;
  min-width: 256px;
  width: 256px;
  left: 128px;
  top: 128px;
} */


@media (max-width: 768px){
  .recipe-wrapper{
    font-size: 90%;
  }

}
@media (max-width: 468px){
  .recipe-wrapper{
    font-size: 80%;
  }
  .recipe-step-img {
     display: none;
   }
  th, tr, td {
    border: 1px solid $main-color;
  }
}