<div ng-include="'components/navbar/navbar.html'"></div>

<div class="container main-panel">
  <!--bread-crumb rcpid="{{ recipe._id }}" path="recipe" name="{{ recipe.name }}"></bread-crumb-->
  <bread-crumb bc="bc"></bread-crumb>

  <div class="row">
    <div class="col-md-12">
      <div class="recipe-wrapper">
        <div class="recipe-title">
          <!--a class= "pull-left go2recipes" href="/recipes" title="Go to Recipes">
            <span class="glyphicon glyphicon-chevron-left"></span>
          </a-->
          <span><strong>{{ recipe.name }}</strong></span>
          <admin-tool class="pull-right" rid="recipe._id" ng-show="isAdmin()"></admin-tool>
        </div>
        <div class="recipe-body">
          <!-- category, ... , rating -->
          <div class="row">
            <div class="col-md-8 col-sm-8 col-xs-7">
              <div class="col-md-4 col-sm-4 col-xs-12">
                <strong>{{ glossary.category }}:</strong> {{ recipe.category.name }}
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <strong>{{ glossary.cousine }}:</strong> {{ recipe.cousine }}
              </div>
              <div class="col-md-4 col-sm-4 col-xs-12">
                <span class="glyphicon glyphicon-time"> {{ recipe.duration }} min</span>
              </div>
            </div>
            <div class="col-md-4 col-sm-4 col-xs-5">
              <gradient-rating overall="recipe.rating" ratings="recipe.ratings" current="currentUserRating"
                               viewed="recipe.viewed" ratable="true" ></gradient-rating>
            </div>
          </div>

          <!-- ingredients -->
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="col-md-12">
                <strong>{{ glossary.ingredients }}:</strong>
                <br/>

                <table id="recipe-ingredients-tbl">
                  <colgroup>
                    <col id="ingredient-col-1">
                    <col id="ingredient-col-2">
                    <col id="ingredient-col-3">
                    <col id="ingredient-col-4">
                  </colgroup>

                  <tbody>
                    <tr ng-repeat="ing in recipe.ingredients track by $index">
                      <td>
                        <span>{{ $index + 1 }}.</span>
                      </td>
                      <td>
                        <span>{{ ing.name }} <span ng-show="ing.note !==''">({{ ing.note }})</span></span>
                      </td>
                      <td>
                        <span> - {{ ing.qtty }} </span>
                      </td>
                    </tr>
                  </tbody>
                </table>
              </div>
            </div>
          </div>

          <!-- instructions -->
          <div class="row">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="col-md-12">
                <strong>{{ glossary.instructions }}:</strong>
                <br/>
                <div class="row instr-row" ng-repeat="inst in recipe.instructions">
                  <div class="col-md-9 col-sm-9 col-xs-9">
                    <span>{{ $index + 1 }}.</span>
                    <span>{{ inst.step }}</span>
                  </div>
                  <div class="col-md-3 col-sm-3 col-xs-3">
                    <!-- from  http://www.iconka.com -->
                    <img class="img-thumbnail recipe-step-img" ng-src="{{ inst.image }}" enlarge-image/>
                  </div>
                </div>
              </div>
            </div>
          </div>

          <!-- notes -->
          <div class="row" ng-show="recipe.notes.length > 0">
            <div class="col-md-12 col-sm-12 col-xs-12">
              <div class="col-md-12">
                <strong>{{ glossary.notes }}:</strong>
                <br/>
                <div class="row note-row" ng-repeat="note in recipe.notes">
                  <div class="col-md-1 col-sm-1 col-xs-1">
                    {{ $index + 1 }}.
                  </div>
                  <div class="col-md-11 col-sm-11 col-xs-11">
                     {{ note }}
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
