<div class="show-recipe-rating">
  <div class="rating-gradient"></div>
  <div class="rating-text">
    <p ng-show="!ratable">{{ viewed }} {{ glossary.peopleread }}</p>
    <p ng-show="!ratable">{{ voted }} {{ glossary.peoplevote }}</p>

    <p>{{ glossary.overallrating }} <strong>{{ overall }}</strong></p>

    <div class="rate-it" ng-show="ratable">
      <p>{{ glossary.yourrating }} <strong>{{ userrating }}</strong></p>
      <span href="" ng-click="rateRecipe()">Drag or click on bar and</span>
      <button ng-click="rateRecipe()" class="btn btn-xs rate-btn">Rate it!</button>
    </div>

  </div>
</div>