<!--div>
  <script type="text/ng-template" id="ecLogimModal">
    <form role="form" id='login-form' name='ecLoginForm' novalidate="novalidate">
      <div class="modal-header">
        <button class="btn btn-default close" ng-click="cancel()">times;</button>
        <h4 class="modal-title">Login</h4>
      </div>

      <div class="modal-body">
        <div class="form-group has-error">
          <label for="username">E-mail</label>
          <input class='form-control' type='email'  placeholder="E-mail"
                 id='username' autocomplete='off' ng-model="res_1" set-focus='true'/>
        </div>
        <div class="form-group has-error">
          <p class="help-block" ng-show="ecLoginForm.email.$error.required && submitted">
            Please enter your email and password.
          </p>
          <p class="help-block">{{ errors.other }}</p>
        </div>
        <div class="form-group has-error">
          <label for="password">Password</label>
          <input type="password" class="form-control" id="password" placeholder="Password"
                 autocomplete='off' ng-model="res_2"/>
        </div>
        <div class="form-group has-error">
          <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
            Please enter your email and password.
          </p>
          <p class="help-block">{{ errors.other }}</p>
        </div>

      </div>

      <div class="modal-footer">
        <button type="submit" class="btn btn-primary btn-sm" ng-click="login(ecLoginForm)">Log in</button>
        <button type="button" class="btn btn-default btn-sm" ng-click="cancel()">Cancel</button>
      </div>
      <div class="modal-footer" style="text-align: center; ">
        Or log in with:
        <a class="btn-link" ng-href='/login/fb'>
          <img ng-src="../images/facebook-icon (1).png" title="Facebook"/>
        </a>
      </div>
    </form>
  </script>
</div-->

<div class="modal fade" id="ecLoginModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="myModalLabel">Login</h4>
      </div>
      <div class="modal-body">
        <form role="form" id='login-form' name='login-form' novalidate="novalidate">
          <div class="modal-header">
            <button class="btn btn-default close" ng-click="cancel()">times;</button>
            <h4 class="modal-title">Login</h4>
          </div>

            <div class="form-group has-error">
              <label for="username">E-mail</label>
              <input class='form-control' type='email'  placeholder="E-mail"
                     id='username' autocomplete='off' ng-model="res_1" set-focus='true'/>
            </div>
            <div class="form-group has-error">
              <p class="help-block" ng-show="ecLoginForm.email.$error.required && submitted">
                Please enter your email and password.
              </p>
              <p class="help-block">{{ errors.other }}</p>
            </div>
            <div class="form-group has-error">
              <label for="password">Password</label>
              <input type="password" class="form-control" id="password" placeholder="Password"
                     autocomplete='off' ng-model="res_2"/>
            </div>
            <div class="form-group has-error">
              <p class="help-block" ng-show="form.email.$error.required && form.password.$error.required && submitted">
                Please enter your email and password.
              </p>
              <p class="help-block">{{ errors.other }}</p>
            </div>



          <div class="modal-footer">
            <button type="submit" class="btn btn-primary btn-sm" ng-click="login(login-form)">Log in</button>
            <button type="button" class="btn btn-default btn-sm" ng-click="cancel()">Cancel</button>


            Or log in with:
            <a class="btn-link" ng-href='/login/fb'>
              <img ng-src="../images/facebook-icon (1).png" title="Facebook"/>
            </a>
          </div>
        </form>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
        <button type="button" class="btn btn-primary">Save changes</button>
      </div>
    </div>
  </div>
</div>